* {
  font-family: "hanuman";
}
body {
  background-color: rgb(223, 223, 223);
  color: #303030;
  font-size: 16px;
  margin: 0px;
}
.toolbar {
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 163, 41);
  backdrop-filter: blur(5px);
}
#title {
  font-weight: 500;
  font-size: 18px;
  font-family: "hanuman";
  color: #fffffff3;
  letter-spacing: 0.06em;
  line-height: 0px;
  margin-right: 5px;
}
.logo {
  object-fit: cover;
  border-radius: 50px;
  margin-left: 5px;
  width: 44px;
  height: 44px;
}
#container {
  margin: auto;
  width: 90%;
  max-width: 700px;
}
form#first-form {
  padding-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.item:first-child {
  margin-top: 20px;
}
.text-field {
  width: 90%;
  background-color: #fffc;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid #bbb;
  transition: all ease-in-out 250ms;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-field i {
  color: #bbb;
  transition: all ease-in-out 250ms;
}
.iconDesc {
  margin-top: 10px;
  align-self: flex-start;
}
input,textarea {
  width: 100%;
  background-color: transparent;
  caret-color: rgb(83, 103, 218);
}
input, input:focus, textarea, textarea:focus {
  border: none;
  outline: none;
  padding: 10px;
}
input::placeholder, textarea::placeholder {
  color: #bbb;
  transition: all ease-in-out 250ms;
}
input:focus::placeholder, textarea:focus::placeholder {
  color: rgb(28, 78, 170);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: none;
}
textarea, textarea:focus {
  resize: none;
  padding-bottom: 0px;
}
.input-error::placeholder {
  color: red;
}
#img-option {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 17px;
  min-width: 100px;
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
}
button[type="button"] {
  background-color: rgb(18, 71, 170);
  color: rgb(180, 240, 255);
}
button[type="button"]:active {
  background-color: rgb(0, 47, 134);
}
.wanning {
  color: rgb(255, 44, 44);
  font-weight: 700;
  display: none;
}
.iconImage {
  color: rgb(180, 240, 255)
}
button[type="submit"] {
  background-color: rgb(255, 122, 13);
  color: rgb(255, 239, 230);
}
button[type="submit"]:active {
  background-color: rgb(214, 121, 0);
}
.iconSend {
  color: rgb(255, 239, 230);
}
.iconDeleteAll {
  color: rgb(255, 44, 44);
  cursor: pointer;
  font-size: 25px;
  display: none;
}
#img-container {
  max-width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.img {
  object-fit: cover;
  min-width: 120px;
  min-height: 160px;
  width: 120px;
  height: 160px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.img:first-child {
  margin-left: 0px;
}
.img:last-child {
  margin-right: 0px;
}
.img-wrapper {
  position: relative;
}
.img-wrapper i {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #303030aa;
  border-radius: 4px;
  color: #f9f9f9;
  cursor: pointer;
}
.back-wrapper {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: rgba(0, 163, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.back-wrapper:active {
  background-color: rgb(0, 107, 27)
}
.iconBack {
  color: #f9f9f9;
  font-size: 18px;
}
