* {
  font-family: "hanuman";
}
body {
  background-color: rgb(223, 223, 223);
  color: #303030;
  font-size: 16px;
  margin: 0px;
}
#container {
  margin: auto;
}
.toolbar {
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222 35 108);
  backdrop-filter: blur(5px);
}
#title {
  font-weight: 500;
  font-size: 18px;
  font-family: "hanuman";
  color: #fffffff3;
  letter-spacing: 0.06em;
  line-height: 0px;
  margin-right: 5px;
}
.logo {
  object-fit: cover;
  border-radius: 50px;
  margin-left: 5px;
  width: 44px;
  height: 44px;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #303030;
  position: relative;
}
.img-wrapper {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}
.img-item {
  min-width: 100%;
  min-height: 100%;
}
.img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.counter {
  position: absolute;
  top: 4px;
  padding: 4px;
  border-radius: 50%;
  background-color: #444444aa;
  color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.slider {
  position: absolute;
  bottom: 0px;
}
.iconLeft, .iconRight {
  background-color: #444444aa;
  color: #f9f9f9;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}
.iconLeft:active, .iconRight:active {
  background-color: #292929;
}
.name-price {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(209, 209, 209);
  color: red;
  font-weight: 500px;
  font-size: 20px;
}
.name {
  margin-right: 10px;
}
.price {
  margin-left: 10px;
  
}
.desc-wrapper {
  padding: 10px;
  text-align: center;
  color: #202020;
}
.back-wrapper {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: rgb(222 35 108);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.back-wrapper:active {
  background-color: rgb(146, 0, 56)
}
.iconBack {
  color: #f9f9f9;
  font-size: 18px;
}
.hole-screen {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0009;
  backdrop-filter: blur(1px);
  display: none;
}
.img-show {
  position: fixed;
  object-fit: scale-down;
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  -webkit-transform: translate(-50%, -55%);
  display: none;
}
/* media */
@media only screen and (max-width: 600px) {
  
}
@media only screen and (min-width: 600px) {
  .img-wrapper {
    height: 400px;
  }
}
@media only screen and (min-width: 900px) {
  .img-wrapper {
    height: 500px;
  }
}